{% extends "layout/index.html" %}

{% block title%}
App's Page
{% endblock %}


{% block content %}
<h1>All Apps download Home page</h1>

<div class ="grid grid-cols-3 gap-4 m-4">
    
    {%for app in apps%}
    
    <div class = "bg-blue-400 p-5 rounded">
        <img class = "rounded shadow-lg"src="{{app.image.url}}" alt="">
        <h3 class="text-2xl font-bold">{{app.name}}</h3>
        <a href="{% url 'app_detail' app.id %}">
            <button 
            type="button"
            class = "bg-cyan-400 text-black px-5 py-2 rounded shadow-lg hover:bg-cyan-300"
            >
                {{app.id}} - {{app.type}} - {{app.price}}
            </button>
        </a>

    </div>
    
    {% endfor %}
</div>

{% endblock %}



{% comment %} everything here is replayed bacause we are using common layout {% endcomment %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All apps</title>
</head>
<body>
    <h1>All type of apps</h1>
</body>
</html> {% endcomment %}