{% extends "layout/index.html" %}

{% block title%}
App's Page
{% endblock %}

{% block content %}
<h1>All Apps download Home page</h1>

{%for App in Apps%}

<div class = "app1-item">
    <img src="{{App.image.url}}" alt="">
    <h3>{{App.name}}</h3>
</div>

{% endfor %}

{% endblock %}



{% comment %} everything here is replayed bacause we are using common layout {% endcomment %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All apps</title>
</head>
<body>
    <h1>All type of apps</h1>
</body>
</html> {% endcomment %}